<% provide(:title, 'Home') %> 
<!DOCTYPE html> 
<html> 
   <head>
      <title>Home Page | <%= yield(:title) %></title> 
   </head>
   <body>
	<h1>Sample App </h1> 
	<p></p>
	<p> Hello world thank you for visiting my
	home page. Created based on the code presented in  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>  
	sample application. 
</p>
    </body>
</html>
